<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>home</title>
    </head>

    <body>
        <h1>Привет, это Home page</h1>

        <form th:action="@{/search}" method="get" class="search-form">
            <div class="input-group">
                <input type="text"
                       name="location"
                       th:value="${param.location}"
                       class="form-control"
                       placeholder="Поиск..."
                       aria-label="Поиск">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Найти
                </button>
            </div>
        </form>

            <div class="row">
                <div th:each="weather : ${locationsWeather}" class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title" th:text="${weather.main.temp}"></h3>
                            <div class="card-text">
                                <h4 th:text="${weather.name}"></h4> <h4 th:text="${weather.sys.country}"></h4>
                                feels like <h5 th:text="${weather.main.feels_like}"></h5> <h5 th:text="${weather.weather.get(0).description}"></h5>
                                Humidity: <h5 th:text="${weather.main.humidity}"></h5>%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <br>
        <br>
        <form th:action="@{/sign-out}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-link p-0">Logout</button>
        </form>
    </body>
</html>