<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>home</title>
    </head>

    <body>
        <h1>Home</h1>

        <form th:action="@{/search}" method="get" class="search-form">
            <div class="input-group">
                <input type="text"
                       name="location"
                       th:value="${param.location}"
                       class="form-control"
                       placeholder="Поиск..."
                       aria-label="Поиск">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Найти
                </button>
            </div>
        </form>

            <div class="row">
                <div th:each="weather : ${locationsWeather}" class="col-md-4 mb-3">
                    <div class="card">
                        <img th:src="${weather.iconUrl}"
                             alt="icon"
                             loading="lazy">
                        <div class="card-body">
                            <h2 class="card-title">
                                <span th:text="${weather.temp}"></span>°C
                            </h2>
                            <div class="card-text">
                                <h3>
                                    <span th:text="${weather.name}"></span>,
                                    <span th:text="${weather.country}"></span>
                                </h3>
                                <p> Feels like
                                    <span th:text="${weather.feelsLike}"></span>°C.
                                    <span th:text="${weather.description}"></span>
                                </p>
                                <p>
                                    Humidity:
                                    <span th:text="${weather.humidity}"></span>%
                                </p>
                            </div>
                            <form th:action="@{/delete-location}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-link p-0">delete</button>
                                <input type="hidden" name="id" th:value="${weather.id}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        <br>
        <br>
        <form th:action="@{/sign-out}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-link p-0">Logout</button>
        </form>
    </body>
</html>